#root .home-page > .home-about-wrapper {
  height: 625px;
  background-color: rgb(243, 243, 243);
}
#root .home-page > .home-about-wrapper > .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
#root .home-page > .home-about-wrapper > .about-wrapper > .about-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 44px;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#root .home-page > .home-about-wrapper > .about-wrapper > .about-text-wrapper > .text-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}
#root .home-page > .home-about-wrapper > .about-wrapper > .about-text-wrapper > .text-subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: rgb(108, 108, 108);
}
#root .home-page > .home-about-wrapper > .about-wrapper > .profile-img {
  width: 388px;
  height: 628px;
  position: absolute;
  top: 77px;
  right: 332px;
  background-color: black;
}
#root .home-page > .home-about-wrapper > .about-wrapper > .profile-img img {
  width: 388px;
  height: 70%;
}
#root .home-page > .home-about-wrapper > .about-wrapper > .profile-img > .profile-about {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(26, 26, 26);
}
#root .home-page > .home-about-wrapper > .about-wrapper > .profile-img > .profile-about > .text {
  color: white;
  line-height: 180%;
  font-weight: 400;
  font-size: 14px;
}
#root .home-page > .projects-slider-section {
  width: 100%;
}
#root .home-page > .projects-slider-section img {
  width: 100%;
  height: 720px;
}
#root .home-page > .experience-section {
  width: 100%;
  height: 722px;
  padding: 0px 40px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 33px;
}
#root .home-page > .experience-section > .title {
  font-size: 29px;
  font-weight: bold;
  color: white;
}
#root .home-page > .experience-section > .experience-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}
#root .home-page > .service-section {
  background-color: rgb(243, 243, 243);
  height: 100%;
  padding-bottom: 120px;
}
#root .home-page > .service-section > .service-wrapper {
  width: 1280px;
  height: 100%;
  padding: 30px;
  margin: 0 auto;
  padding: 145px;
}
#root .home-page > .service-section > .service-wrapper > .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#root .home-page > .service-section > .service-wrapper > .title-wrapper > .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  row-gap: 13px;
}
#root .home-page > .service-section > .service-wrapper > .title-wrapper > .title-box > .sm-text {
  font-size: 13px;
  font-weight: 400;
}
#root .home-page > .service-section > .service-wrapper > .title-wrapper > .title-box > .text {
  font-size: 26px;
  font-weight: 700;
}
#root .home-page > .service-section > .service-wrapper > .title-wrapper > .projects-move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#root .home-page > .service-section > .service-wrapper > .title-wrapper > .projects-move > .move-text {
  font-weight: 700;
}
#root .home-page > .service-section > .service-wrapper > .introduction-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}
#root .home-page > .service-section > .service-wrapper > .introduction-number > .introduction-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 11px;
  white-space: pre;
}
#root .home-page > .service-section > .service-wrapper > .introduction-number > .introduction-box > .num {
  font-size: 14px;
  font-weight: 400;
}
#root .home-page > .service-section > .service-wrapper > .introduction-number > .introduction-box > .title {
  font-size: 18px;
  font-weight: 700;
}
#root .home-page > .service-section > .service-wrapper > .introduction-number > .introduction-box > .description {
  color: rgb(108, 108, 108);
  line-height: 150%;
}
#root .home-page > .service-section > .projects-wrapper {
  padding-top: 55px;
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
#root .home-page > .service-section > .projects-wrapper > .projects-text > .sm-text {
  font-size: 14px;
  font-weight: 500;
}
#root .home-page > .service-section > .projects-wrapper > .projects-text > .title {
  margin: 22px 0;
  font-size: 26px;
  font-weight: 700;
}
#root .home-page > .service-section > .projects-wrapper > .projects-text > .sub-text {
  color: rgb(108, 108, 108);
  white-space: pre-wrap;
  line-height: 150%;
  margin-bottom: 19px;
}
#root .home-page > .service-section > .projects-wrapper > .projects-text > .view-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}