#root .home-page > .introduction-section {
  padding: 0px 40px;
  padding-bottom: 148px;
  padding-top: 111px;
}
#root .home-page > .experience-section {
  width: 100%;
  height: 722px;
  padding: 0px 40px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 33px;
}
#root .home-page > .experience-section > .title {
  font-size: 29px;
  font-weight: bold;
  color: white;
}
#root .home-page > .experience-section > .experience-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}
#root .home-page > .projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px;
  margin-top: 88px;
  padding-bottom: 140px;
}
#root .home-page > .projects-section > .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#root .home-page > .projects-section > .title-wrapper > .title {
  font-size: 48px;
  font-weight: bold;
}
#root .home-page > .projects-section > .title-wrapper > .subtitle {
  white-space: pre-wrap;
  text-align: center;
  line-height: 120%;
  margin-bottom: 82px;
}
#root .home-page > .projects-section > .title-wrapper > .subtitle > .line {
  width: 1px;
  height: 188px;
  background-color: black;
  margin: 0 auto;
  margin-top: 22px;
}
#root .home-page > .projects-section > .title-wrapper > .subtitle > .subtitle-bold {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 9px;
}
#root .home-page > .projects-section > .title-wrapper > .subtitle > .subtitle-text {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
#root .home-page > .projects-section > .title-wrapper > .subtitle > .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
#root .home-page > .projects-section > .projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}