#root {
    .home-page {

        &>.home-about-wrapper {
            height: 625px;
            background-color: rgba(243, 243, 243, 1);

            &>.about-wrapper {
                display: flex;
                position: relative;
                align-items: center;
                height: 100%;

                &>.about-text-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 44px;
                    width: 1280px;
                    height: 100%;
                    margin: 0 auto;
                    justify-content: center;

                    &>.text-title {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 150%;
                    }

                    &>.text-subtitle {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 150%;
                        color: rgba(108, 108, 108, 1);

                    }

                }

                &>.profile-img {
                    width: 388px;
                    height: 628px;
                    position: absolute;
                    top: 137px;
                    right: 332px;
                    background-color: black;

                    img {
                        width: 388px;
                        height: 70%;
                    }

                    &>.profile-about {
                        height: 30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(26, 26, 26, 1);

                        &>.text {
                            color: white;
                            line-height: 180%;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }


        }

        &>.projects-slider-section {
            width: 100%;

            img {
                width: 100%;
                height: 720px;
            }
        }

        &>.experience-section {
            width: 100%;
            height: 722px;
            padding: 0px 40px;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 33px;

            &>.title {
                font-size: 29px;
                font-weight: bold;
                color: white;
            }

            &>.experience-wrapper {
                display: flex;
                column-gap: 33px;
            }

        }

        &>.service-section {
            background-color: rgba(243, 243, 243, 1);
            height: 100%;
            padding-bottom: 120px;

            &>.service-wrapper {
                width: 1280px;
                height: 100%;
                padding: 30px;
                margin: 0 auto;
                padding: 145px;

                &>.title-wrapper {
                    display: flex;
                    align-items: end;
                    justify-content: space-between;

                    &>.title-box {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        row-gap: 13px;

                        &>.sm-text {
                            font-size: 13px;
                            font-weight: 400;
                        }

                        &>.text {
                            font-size: 26px;
                            font-weight: 700;
                        }
                    }

                    &>.projects-move {
                        display: flex;
                        column-gap: 12px;
                        align-items: center;

                        &>.move-text {
                            font-weight: 700;
                        }

                    }
                }

                &>.introduction-number {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 48px;

                    &>.introduction-box {
                        display: flex;
                        flex-direction: column;
                        row-gap: 11px;
                        white-space: pre;

                        p {}

                        &>.num {
                            font-size: 14px;
                            font-weight: 400;

                        }

                        &>.title {
                            font-size: 18px;
                            font-weight: 700;

                        }

                        &>.description {
                            color: rgb(108, 108, 108);
                            line-height: 150%;
                        }
                    }
                }


            }

            &>.projects-wrapper {
                padding-top: 55px;
                width: 1280px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                &>.projects-text {
                    &>.sm-text {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    &>.title {
                        margin: 22px 0;
                        font-size: 26px;
                        font-weight: 700;
                    }

                    &>.sub-text {
                        color: rgb(108, 108, 108);
                        white-space: pre-wrap;
                        line-height: 150%;
                        margin-bottom: 19px;
                    }

                    &>.view-projects {
                        display: flex;
                        column-gap: 11px;
                        align-items: center;
                        text-decoration: dashed;

                    }
                }

                &>.project-img-wrapper {}
            }
        }

    }
}