#root {
    .footer {
        height: 411px;
        display: flex;
        align-items: center;

        &>.footer-wrapper {
            white-space: pre-wrap;
            display: flex;
            justify-content: space-between;
            width: 1280px;
            margin: 0 auto;
            padding: 40px 0px;

            &>.footer-about {
                display: flex;
                flex-direction: column;
                row-gap: 44px;

                &>.title {
                    font-size: 29px;
                    font-weight: 700;
                }

                &>.text {
                    color: rgba(134, 134, 134, 1);
                }
            }

            &>.contact-wrapper {
                &>.contact-detail {
                    display: flex;
                    flex-direction: column;

                    &>.contact-title {
                        font-size: 25px;
                        font-weight: 700;
                        margin-bottom: 33px;
                    }

                    &>.contact-name {
                        font-size: 14px;
                    }

                    &>.contact-phone {
                        margin-top: 22px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 11px;
                        font-size: 14px;

                        &>.phone {
                            color: rgba(134, 134, 134, 1);


                        }

                        &>.number {}
                    }

                    &>.email-wrapper {
                        margin-top: 22px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 11px;
                        font-size: 14px;

                        & p:nth-child(1) {
                            color: rgba(134, 134, 134, 1);
                        }

                        & p:nth-child(2) {
                            font-size: 14px;
                        }
                    }
                }
            }

            &>.location-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 38px;

                &>.location {
                    display: flex;
                    flex-direction: column;
                    row-gap: 38px;

                    &>.title {
                        font-size: 25px;
                        font-weight: 700;
                    }

                    p:nth-child(1) {
                        color: 18px;
                        font-weight: 700;
                    }

                    p:nth-child(2) {
                        font-size: 14px;
                        color: rgba(134, 134, 134, 1);
                    }

                    &>.location-detail {
                        display: flex;
                        flex-direction: column;
                        row-gap: 12px;
                    }
                }

                &>.follow {

                    p:nth-child(1) {
                        color: 18px;
                        font-weight: 700;
                        margin-bottom: 11px;
                    }

                    &>.sns-wrapper {
                        display: flex;
                        column-gap: 11px;

                        svg {
                            font-size: 18px;
                            font-weight: 700;
                        }

                    }
                }
            }

        }
    }
}