#root {
    .header {
        width: 100vw;
        height: 43px;
        display: flex;
        position: fixed;
        align-items: center;
        background-color: #F0F0F0;
        justify-content: end;

        &>.header-wrapper {
            padding-right: 99px;

            &>.content-lists {
                display: flex;
                column-gap: 11px;

                &>.content-list {
                    font-size: 22px;
                    font-weight: 400;
                }

            }
        }
    }
}