#root .header {
  width: 100vw;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 1;
}
#root .header > .header-wrapper {
  padding-right: 99px;
}
#root .header > .header-wrapper > .content-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
#root .header > .header-wrapper > .content-lists > .content-list {
  font-size: 22px;
}
#root .header > .header-wrapper > .content-lists > .content-list a {
  color: white;
  font-weight: 500;
}
#root .header-white {
  background-color: white;
}
#root .header-white > .header-wrapper {
  padding-right: 99px;
}
#root .header-white > .header-wrapper > .content-lists > .content-list a {
  color: black;
}