#root {
    .header {
        width: 100vw;
        height: 43px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: end;
        z-index: 1;

        &>.header-wrapper {
            padding-right: 99px;

            &>.content-lists {
                display: flex;
                column-gap: 18px;

                &>.content-list {
                    font-size: 22px;

                    a {
                        color: white;
                        font-weight: 500;
                    }
                }

            }
        }
    }

    .header-white {
        background-color: white;

        &>.header-wrapper {
            padding-right: 99px;

            &>.content-lists {


                &>.content-list {

                    a {
                        color: black;
                    }
                }

            }
        }
    }
}